body {
    background-image: url('images/Background.jpeg');
    background-size: cover;         /* Gambar akan memenuhi layar */
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Parisienne', cursive;
    margin: 0;
    padding: 0;
    text-align: center;
}

p {
    font-family: 'Segoe UI', sans-serif;
}

#countdown-box {
    background-color: #fff0f5;       /* Latar pink muda */
    border: 2px solid #f81023;       /* Garis pinggir merah muda tua */
    padding: 20px;
    margin: 20px auto;
    width: fit-content;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#countdown {
    color: #f71d1d;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 10px #ccc;
    margin-top: 50px;
}

.foto {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.detail p {
    font-size: 16px;
    margin: 10px 0;
}

form input {
    padding: 10px;
    margin: 10px;
    width: 200px;
}

form button {
    padding: 10px 20px;
    background: #ff69b4;
    border: none;
    color: white;
    cursor: pointer;
}

#intro {
    text-align: center;
    padding: 100px 48px;
    background-color: #fff0f5;
}

#lihatUndangan {
    background-color: #c71585;
    color: white;
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#lihatUndangan:hover {
    background-color: #a3146b;
}